@keyframes merge{
    0%{
      color: white;
      position: relative;
      left: 0px;
    }
    50%{
        color: yellow;
        position: relative;
        left: 5px;
        
    }
    100%{
       color: white;
       position: relative;
       left: 0px;
    }
}

@keyframes blacky{
    0%{
        position: relative;
        left: 0%;
    }
    50%{
        position: relative;
        left: 50%;
    }
    100%{
        position: relative;
        left: 0%;
    }
}

@keyframes limy{
    0%{
        position: relative;
        bottom: 0%;
    }
    50%{
        position: relative;
        bottom: 50%;
    }
    100%{
        position: relative;
        bottom: 0%;
    }
}

@keyframes cont{
    0%{

    }
    25%{
      
      transform: rotate(90deg);
    }
    50%{
      
      transform: rotate(180deg);
    }
    75%{
     
      transform: rotate(270deg);
    }
    100%{
      
      transform: rotate(360deg);
    }

}

