*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: navy;
    z-index: 999;

}

#container{
    width: 80px;
    height: 80px;
    background: white;
    
    position: absolute;
    top: 45vh;
    left: 45%;
    border-radius: 20%;
    animation: cont 4s infinite;
}


.ball2{
    background: black;
    animation: blacky 4s infinite;
    
}
.ball3{
    background: lime;
    
    animation: limy 4s infinite;
}


.ball,.ball2,.ball3,.ball4{
    height: 50%;
    width: 50%;
    border-radius: 50%;
}



body{
    background-image: url('../images/cover_bg_1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header{
    background-image : url('../images/man.jpg');
    clip-path: polygon(0% 0%,100% 0%, 100% 20%, 70% 50%,70% 100%,30% 100%, 30% 50%, 0% 20%,0% 0%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

#nav-bar{
    margin: 0 auto;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    opacity: 0.6;
}

#logo{
    
    width:400px;
    text-align: center;
    text-transform: uppercase;
    opacity: 2;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Livvic', sans-serif;
    
}

.mobileapp{
    color: white;
    display: none;
    font-size: 30px;
    position: relative;
    bottom: 5%;
}

#moving:hover{
    transform: rotate(90deg);
    transition: 1s ease-in-out;
}



#list{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 80%;
    
    
}

#nav-content li{
    list-style: none;
}

#nav-content a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

#nav-content a:hover{
    color: yellow;
    font-weight: bold;
    transition : 0.2s ease-in;
    
}

#name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;

}

#profession{
    font-family: 'Livvic', sans-serif;
    font-size: 100%;
    letter-spacing: 4px;
    position: relative;
    bottom: 20px;
   
}

#imp{
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-family: 'Acme', sans-serif;
}

#caption{
    animation: merge 3s infinite;
}

#icons{
    width: 100%;
    height: 80px;
}

#icons ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;

}

#icons li{
    list-style: none;
    position: relative;
    bottom: 20px;
}

#icons li a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 10px;
    font-size: 40px;
   
}

#fb:hover{
    color: #3B5998;
    transition: 0.2s ease-in;
}

#insta:hover{
    color: burlywood;
    transition: 0.2s ease-in;
}

#linkin:hover{
    color: navy;
    transition: 0.2s ease-in;
}

#tweet:hover{
    color: rgb(13, 184, 226);
    transition: 0.2s ease-in;
}

